# Telegram Bot Settings
TELEGRAM_BOT_TOKEN = "BURAYA_TOKENI_YAZ"
TELEGRAM_CHAT_ID = "BURAYA_CHAT_ID_YAZ"

# Node RPC Settings
# Eger 8080 portu (Eth RPC) kullaniyorsan burayi degistirme
NODE_RPC_URL = "http://localhost:8080"

# Node Type: 'comet' (26657) veya 'eth' (8080)
NODE_TYPE = "eth" 

# Check Interval (in seconds)
CHECK_INTERVAL = 60
